chat_bot.json
{
  "name": "chat_bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b6b97ec0-513d-439f-a98f-11bc4eec9f2f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -180,
        -80
      ],
      "webhookId": "unique-webhook-id",
      "credentials": {
        "httpBasicAuth": {
          "id": "bb478jD2VkpJpHQa",
          "name": "simple saswat"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "6d2ac7e0-7cb9-4298-a788-52612e359e54",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        416,
        -80
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        40,
        -80
      ],
      "id": "768d0612-b68b-4465-b1fd-85096ffd33d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "provider-2/gpt-4.1",
          "mode": "list",
          "cachedResultName": "provider-2/gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        140
      ],
      "id": "b0baa7bc-1756-4b42-881c-6ab748a13f84",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Ye5gwnS9PMxAOxKQ",
          "name": "a4f"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        140
      ],
      "id": "8c164498-1c8d-4828-8e44-ed0a4e7878f9",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "d6d9afea-2798-40e9-ac34-7146a02b664a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81138024e2a2e51dce1e5d96137e14d2824edcd4b38a0fcc792c401963ddcf21"
  },
  "id": "74BYutlL9rbGarWq",
  "tags": []
}